@charset 'UTF-8';
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 1 1000;
	font-style: normal;
	src: url('https://tistory1.daumcdn.net/tistory/814207/skin/images/PretendardVariable.woff2') format('woff2-variations');
}
body {
	font-family: 'Pretendard Variable';
}
h2 {
	max-width: 100%;
	text-align: center;
	font-size: 10vw;
	line-height: 1.25;
    font-weight: 400;
}

b{
	font-size: 10vw;
    font-weight: 400;
	text-align: center;
	max-width: 100%;

}

/*타이틀*/
h2 > tname {
	animation: variable-loop 1s both;
	text-align: center;
}
@keyframes variable-loop {
	0% {
		font-weight: 1;
	}
    20% {
		font-weight: 10;
	}
    80% {
		font-weight: 1000;
	}
	100% {
		font-weight: 850;
	}
}

/*contact*/

.contactline {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 62px;
	margin: 5px 0px;
  }
  .contactline::before,
  .contactline::after {
	content: "";
	flex-grow: 30;
	background: rgb(0, 0, 0);
	height: 5px;
	font-size: 0px;
	border-radius: 10px;
	line-height: 10px;
	animation: contactline 1s;
	margin: 0px 80px;

  }

  @keyframes contactline {
	0% {
		margin: 0px 0px;
	}
	80% {
		margin: 0px 100px;
	}
	100% {
		margin: 0px 80px;
	}
}

/*인스타그램 소셜*/
socialinsta:hover{
    animation:instatxt 0.4s ;
    font-weight: 940;
    background: -webkit-linear-gradient( #405DE6, #5851D8,#833AB4, #C13584,#E1306C,#FD1D1D,#F56040,#F56040,#FCAF45,#FFDC80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
@keyframes instatxt {
	0% {
		font-weight: 400;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
	100% {
		font-weight: 940;
        background: -webkit-linear-gradient( #405DE6, #5851D8,#833AB4, #C13584,#E1306C,#FD1D1D,#F56040,#F56040,#FCAF45,#FFDC80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
}

/*페이스북 소셜*/
socialfacebook:hover{
    animation:fbtxt 0.4s ;
    font-weight: 940;
	background: -webkit-linear-gradient(   #0165E1, #17A9FD);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}
@keyframes fbtxt {
	0% {
		font-weight: 400;
        color:black;
	}
	100% {
		font-weight: 940;
		background: -webkit-linear-gradient(   #0165E1, #17A9FD);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

/*FB메신저 소셜*/
socialFBmessenger:hover{
    animation:FBMtxt 0.4s ;
    font-weight: 940;
	background: -webkit-linear-gradient(  #FF6968, #A334FA,#0695FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
@keyframes FBMtxt {
	0% {
		font-weight: 400;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
	100% {
		font-weight: 940;
        background: -webkit-linear-gradient(  #FF6968, #A334FA,#0695FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
}

/*텔레그램 소셜*/
socialtelegram:hover{
    animation:tgtxt 0.4s ;
    font-weight: 940;
    color:#0088cc;
}
@keyframes tgtxt {
	0% {
		font-weight: 400;
        color:black;
	}
	100% {
		font-weight: 940;
        color:#0088cc;
	}
}
/*카카오톡 소셜*/
socialkakao:hover{
    animation:kkotxt 0.4s ;
    font-weight: 940;
    color:#3F3035;
}
@keyframes kkotxt {
	0% {
		font-weight: 400;
        color:black;
	}
	100% {
		font-weight: 940;
        color:#3F3035;
	}
}
/*디스코드 소셜*/
socialdiscord:hover{
    animation:dcdtxt 0.4s ;
    font-weight: 940;
    color:#5865F2;
}
@keyframes dcdtxt {
	0% {
		font-weight: 400;
        color:black;
	}
	100% {
		font-weight: 940;
        color:#5865F2;
	}
}
/*스포티파이 소셜*/
socialdiscord:hover{
    animation:spotifytxt 0.4s ;
    font-weight: 940;
    color:#1DB954;
}
@keyframes spotifytxt {
	0% {
		font-weight: 400;
        color:black;
	}
	100% {
		font-weight: 940;
        color:#1DB954;
	}
}
/*github*/
wswgithub:hover{
    animation:ghtxt 0.4s ;
    font-weight: 940;
    color:#FFF8E7;
	-webkit-text-stroke-color: black;

	-webkit-text-stroke-width: 0.02em;

}
@keyframes ghtxt {
	0% {
		font-weight: 400;
        color:black;
		
	}
	100% {
		font-weight: 940;
        color:#FFF8E7;
		-webkit-text-stroke-color: black;
		-webkit-text-stroke-width: 0.02em;
	} 
}

/*solvedac*/
wswsolvedac:hover{
    animation:solvedactxt 0.4s ;
    font-weight: 940;
    color:#000000;

}
@keyframes solvedactxt {
	0% {
		font-weight: 400;
        color:black;
		
	}
	100% {
		font-weight: 940;
        color:#000000;
	} 
}



/*solvedac*/
.solvedac:hover ~ .ac {
    animation:actxt 0.4s ;
    font-weight: 940;
    color:#ffffff;
	width : 800px;
  height: 100px;
  border-radius: 0.25em;
  background-color: #50da6a;
}
@keyframes actxt {
	0% {
		font-weight: 400;
        color:black;
		background-color: #fff8e7;


		
	}
	100% {
		font-weight: 940;
        color:#ffffff;
		background-color: #50da6a;

	} 
}
